:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  font-family: Arial, sans-serif;
  background-color: lightyellow;
}

.form-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: mediumaquamarine;
}

.search-form input {
  width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
}

.search-form button {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: darkblue;
  border: none;
  cursor: pointer;
}

.gallery-wrapper {
  padding-top: 60px;
}

.gallery {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery-item {
  height: 256px;
}

.gallery-image:hover {
  transform: scale(1.03);
}

.gallery-image {
  display: block;
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery-link:hover {
  cursor: zoom-in;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-item b {
  margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 9px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 512px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
